
mat-toolbar{
    height: 100px;
    background-color: white;
    font-family: 'Bitter', serif;
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center;
}
.brand{
    font-weight: bold;
}
.links span{
    font-size: 18px;
    line-height: 100px;
    cursor: pointer;
    text-align: center;
}
.story{
    margin: 2%;
}
.example-spacer {
    flex: 1 1 auto;
  }
.links{
    margin: 0 auto;
}
img{
    height: 50px;
}
span:hover{
    color: grey;
}