<h4 class="back" routerLink="/">BACK</h4>
<h1 class="name">{{products[2].name}}</h1>
<div class="products">
    <div class="insert-class-name">
        
    </div>
    <div class="details">
        <h1>R{{products[2].price}}</h1>
        <h3>Ingredients:</h3>
        <p>{{products[2].ingredients}}</p>
        <h3>Nutritional Value</h3>
        <p>{{products[2].nutritionalValue}}</p>
        <button class="add" mat-raised-button #tooltip="matTooltip"
        matTooltip="Add to Cart"
        [matTooltipPosition]="position.value"
        matTooltipHideDelay="1000">
        <mat-icon>add</mat-icon>
      </button>
        <button class="checkout">CHECKOUT</button>
    </div>
</div>