

<section class="carousel">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="background1" (click)="getProduct1(product)">
                <div></div>
                <div class=" dotted"></div>
                <h1>Product Name</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum praesentium ipsum, reiciendis dolores
                    quas ad esse, eius vitae possimus dolorem quae, ex porro in repudiandae. Labore cupiditate vel amet
                    numquam!</p>
                    <button>ORDER NOW <mat-icon>chevron_right</mat-icon> </button>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="background2" (click)="getProduct2(product)">
                <div></div>
                <div class=" dotted"></div>
                <h1>Product Name</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quisquam quae, consectetur
                    deleniti asperiores obcaecati modi aliquid nihil incidunt. Similique deserunt eveniet maxime esse
                    dignissimos sit voluptas repellat mollitia magnam?</p>
                    <button>ORDER NOW <mat-icon>chevron_right</mat-icon> </button>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="background3" (click)="getProduct3(product)">
                <div></div>
                <div class=" dotted"></div>
                <h1>Product Name</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus in voluptates perferendis
                    excepturi, natus voluptatem facere hic magni debitis asperiores rem non tempora aspernatur sit
                    beatae maiores quibusdam! Quisquam, voluptatem.</p>
                    <button>ORDER NOW <mat-icon>chevron_right</mat-icon> </button>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="background4" (click)="getProduct4(product)">
                <div></div>
                <div class=" dotted"></div>
                <h1>Product Name</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus in voluptates perferendis
                    excepturi, natus voluptatem facere hic magni debitis asperiores rem non tempora aspernatur sit
                    beatae maiores quibusdam! Quisquam, voluptatem.</p>
                    <button>ORDER NOW <mat-icon>chevron_right</mat-icon> </button>
            </div>
        </ng-template>
    </owl-carousel-o>
</section>



<section class="about">
    <div>
        <img src="../../assets/mask1.jpg" alt="">
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, fuga ullam. Cumque corrupti quaerat ad
            exercitationem culpa nam, porro vel voluptates aperiam amet, eius perferendis dolorem vero pariatur eum
            beatae.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, fuga ullam. Cumque corrupti quaerat ad
            exercitationem culpa nam, porro vel voluptates aperiam amet, eius perferendis dolorem vero pariatur eum
            beatae.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, fuga ullam. Cumque corrupti quaerat ad
            exercitationem culpa nam, porro vel voluptates aperiam amet, eius perferendis dolorem vero pariatur eum
            beatae.</p>
    </div>
</section>









<footer>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti architecto in culpa odit voluptatibus
    consequuntur suscipit ab reiciendis perspiciatis excepturi esse deleniti impedit rerum ipsam, ratione delectus
    eligendi unde ducimus.
</footer>