
.back{
    color: #854968;
    margin-left: 10%;
    width: 75px;
    padding: 5px;
}
.back:hover{
    background-color: #854968;
    border-radius: 12px;
    cursor: pointer;
    color: white;
}
h1{
    margin: 1% 0 0 10%;
}
.price{
    font-size: 60px;
    margin: 0;
}
.products{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 5%;
}
.details{
    border: solid 1px black;
    width: 300px;
    padding: 2%;
    margin: 0 auto;
}
.details p{
    text-align: left;
}
.insert-class-name{
    background-image: url("../../assets/berry-smoothie.png");
    height: 450px;
    width: 450px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}
.details .add{
    background-color: #854968;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    border: solid white 2px;
    border-radius: 50%;
    
}
.details .checkout{
    background-color: #854968;
    color: white;
    width: 120px;
    height: 50px;
    text-align: center;
    border: solid white 2px;
    border-radius: 24px;
    float: right;
    
}




@media screen and (max-width: 650px){
    h1{
        text-align: center;
        margin: 0;
    }
    .products{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 1fr;
        margin: 5%;
    }
    .insert-class-name{
        height: 300px;
        width: 300px;
    }
    .price{
        text-align: left;
        font-size: 60px;
    }
    .details{
        border: none;
    }
}
