<h4 class="back" routerLink="/">Back</h4>
<h1>{{products[3].name}}</h1>
<div class="products">
    <div class="insert-class-name">
        
    </div>
    <div class="details">
        <h1>R{{products[3].price}}</h1>
        <h3>Ingredients:</h3>
        <p>{{products[3].ingredients}}</p>
        <h3>Nutritional Value</h3>
        <p>{{products[3].nutritionalValue}}</p>
        <button class="add"><mat-icon>add</mat-icon></button>
        <button class="checkout">CHECKOUT</button>
    </div>
</div>